.header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}

.headerContainer{
    width: 20%;
    margin: 8px 0px 50px 0px;
}

.headerList{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
    
}

.headerListItem{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 5em;  
    font-size: larger;

}

.icon{
    height: 4em
}

.headerListItem.active{
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
    width: 100%;
}

.subContainer {
    margin-left: 20px;
}

.headerDesc{
    width: 100%;
    margin: 0px 30px 30px 0px;
    align-items: center;
}

.headerBtn{
    background-color: grey;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
}