* {
    margin: 0;
    font-family:sans-serif;

  }

.navbar{
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: center;
}

.navContainer{
    width: 80%;
    color: goldenrod;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: bolder;
    font-size: 300%;
}

.navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: black;
    font-size: larger;
}